In [1]:
from pycocotools.coco import COCO
import numpy as np
from tqdm import tqdm_notebook
import pandas as pd
import json

# for multiprocessing
from multiprocessing import Pool

In [2]:
# Root Dir
COCO_DIR = './COCO'

In [3]:
# Train data dir
TRAIN = 'train2017'
TRAIN_CAP_ANN_FILE = COCO_DIR + '/annotations/captions_' + TRAIN + '.json'

In [4]:
# Val data dir
VAL = 'val2017'
VAL_CAP_ANN_FILE = COCO_DIR + '/annotations/captions_' + VAL + '.json'

# 01.Extract train caption

In [5]:
coco_caps = COCO(TRAIN_CAP_ANN_FILE)

loading annotations into memory...
Done (t=0.83s)
creating index...
index created!

In [6]:
# load and display caption annotations
ids = coco_caps.getImgIds()[0]
capsAnnIds = coco_caps.getAnnIds(imgIds=ids)
capsAnns = coco_caps.loadAnns(capsAnnIds)
coco_caps.showAnns(capsAnns)

A man with a red helmet on a small moped on a dirt road.
Man riding a motor bike on a dirt road on the countryside.
A man riding on the back of a motorcycle.
A dirt path with a young person on a motor bike rests to the foreground of a verdant area with a bridge and a background of cloud-wreathed mountains.
A man in a red shirt and a red hat is on a motorcycle on a hill side.

In [7]:
captions = pd.DataFrame(columns=['image_id', 'id', 'caption'])
captions

Empty DataFrame
Columns: [image_id, id, caption]
Index: []

In [8]:
for idx in tqdm_notebook(range(len(coco_caps.getImgIds()))):
    ids = coco_caps.getImgIds()[idx]
    capsAnnIds = coco_caps.getAnnIds(imgIds=ids);
    capsAnns = coco_caps.loadAnns(capsAnnIds)
    captions = captions.append(capsAnns, ignore_index=True)

HBox(children=(IntProgress(value=0, max=118287), HTML(value='')))

In [9]:
captions

       image_id      id                                            caption
0        391895  770337  A man with a red helmet on a small moped on a ...
1        391895  771687  Man riding a motor bike on a dirt road on the ...
2        391895  772707          A man riding on the back of a motorcycle.
3        391895  776154  A dirt path with a young person on a motor bik...
4        391895  781998  A man in a red shirt and a red hat is on a mot...
...         ...     ...                                                ...
591748   475546     283      The patrons enjoy their beverages at the bar.
591749   475546    5620           People having a drink in a basement bar.
591750   475546    5716  A group of friends enjoys a drink while sittin...
591751   475546    8002  Group of people drinking wine at a public loca...
591752   475546    9277         Three women and a man are sitting at a bar

[591753 rows x 3 columns]

In [10]:
captions.to_csv('COCO/annotations/captions_train2017.csv')

# 02.Extract val caption

In [11]:
coco_caps = COCO(VAL_CAP_ANN_FILE)

loading annotations into memory...
Done (t=0.03s)
creating index...
index created!

In [12]:
# load and display caption annotations
ids = coco_caps.getImgIds()[0]
capsAnnIds = coco_caps.getAnnIds(imgIds=ids)
capsAnns = coco_caps.loadAnns(capsAnnIds)
coco_caps.showAnns(capsAnns)

A man is in a kitchen making pizzas.
Man in apron standing on front of oven with pans and bakeware
A baker is working in the kitchen rolling dough.
A person standing by a stove in a kitchen.
A table with pies being made and a person standing near a wall with pots and pans hanging on the wall.

In [13]:
captions = pd.DataFrame(columns=['image_id', 'id', 'caption'])
captions

Empty DataFrame
Columns: [image_id, id, caption]
Index: []

In [14]:
for idx in tqdm_notebook(range(len(coco_caps.getImgIds()))):
    ids = coco_caps.getImgIds()[idx]
    capsAnnIds = coco_caps.getAnnIds(imgIds=ids)
    capsAnns = coco_caps.loadAnns(capsAnnIds)
    captions = captions.append(capsAnns, ignore_index=True)

HBox(children=(IntProgress(value=0, max=5000), HTML(value='')))

In [15]:
captions

      image_id      id                                            caption
0       397133  370509               A man is in a kitchen making pizzas.
1       397133  370584  Man in apron standing on front of oven with pa...
2       397133  372252   A baker is working in the kitchen rolling dough.
3       397133  372765         A person standing by a stove in a kitchen.
4       397133  375891  A table with pies being made and a person stan...
...        ...     ...                                                ...
25009    15335  505078    A group of people sitting at a table with food.
25010    15335  505954      A man, woman, and boy are sitting at a table.
25011    15335  505978  A man, woman and child eating together at a re...
25012    15335  507940           A boy sitting between a man and a woman.
25013    15335  509731  a young child, lady , and man sitting in a boo...

[25014 rows x 3 columns]

In [16]:
captions.to_csv('COCO/annotations/captions_val2017.csv')